html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    padding: 80px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #5cb85c;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

button:hover {
    background: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #5bc0de;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-back {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn-back:hover {
    background: #0056b3;
}

footer {
    background: #f8f8f8;
    padding: 15px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    color: #666;
}

.file-upload-label {
    display: inline-block;
    background-color: #e5e5e5;
    color: #000;
    padding: 50px 17px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
    margin: 10px 0;
}

input[type="file"] {
    display: none;
}

input[type="file"]:focus + .file-upload-label,
input[type="file"]:hover + .file-upload-label {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.success {
    color: green;
}

.error {
    color: red;
}
.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.flashes .success {
    background-color: #d4edda;
    color: #155724;
}

.flashes .error {
    background-color: #f8d7da;
    color: #721c24;
}


