<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Upload Log File</title>
</head>
<body>
    <div class="container">
        <h1 style="position: relative; top: -70px;">Upload Log File</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
            <div class="file-upload-container" style="position: relative; left: 40px;">
                <input id="file-upload" type="file" name="file" accept=".txt,.log" required="">
                <label for="file-upload" class="file-upload-label">Choisir un fichier</label>
            </div>
            <button type="submit" style="position: relative; top: 65px;">Upload</button>
        </form>
        <a href="/logs" class="btn-back" style="position: relative; top: 70px; left: -70px;">Go to Logs</a>
    </div>
    <footer>
        <p>Created by [ss4m0]</p>
    </footer>
</body>
</html>


